<a href="https://colab.research.google.com/github/jumamzito/Hotel_reservations/blob/main/hotel_reservations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
#Include libraries to be used
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (20, 10)
from bokeh.io import output_notebook
from bokeh import models, palettes, transform
from bokeh.plotting import figure, show
import pandas as pd
import numpy as np
import pandas_profiling
import pydotplus
from scipy.cluster import hierarchy
import seaborn as sns
from sklearn import decomposition, preprocessing, cluster, tree
from sklearn import cluster, decomposition, pipeline, preprocessing
from yellowbrick.cluster.silhouette import SilhouetteVisualizer
import statsmodels


from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import GridSearchCV

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jumamzito/Hotel_reservations/main/Hotel%20Reservations.csv')

In [5]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [6]:
df.dtypes

Booking_ID                               object
no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                        object
required_car_parking_space                int64
room_type_reserved                       object
lead_time                                 int64
arrival_year                              int64
arrival_month                             int64
arrival_date                              int64
market_segment_type                      object
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                           object
dtype: object

In [7]:
df.shape

(36275, 19)

In [8]:
df.no_of_adults.value_counts()

2    26108
1     7695
3     2317
0      139
4       16
Name: no_of_adults, dtype: int64

In [9]:
df.no_of_children.value_counts()

0     33577
1      1618
2      1058
3        19
9         2
10        1
Name: no_of_children, dtype: int64

In [10]:
df.no_of_weekend_nights.value_counts()

0    16872
1     9995
2     9071
3      153
4      129
5       34
6       20
7        1
Name: no_of_weekend_nights, dtype: int64

In [11]:
df.no_of_week_nights.value_counts()

2     11444
1      9488
3      7839
4      2990
0      2387
5      1614
6       189
7       113
10       62
8        62
9        34
11       17
15       10
12        9
14        7
13        5
17        3
16        2
Name: no_of_week_nights, dtype: int64

In [12]:
df.type_of_meal_plan.value_counts()

Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: type_of_meal_plan, dtype: int64

In [13]:
df.room_type_reserved.value_counts()

Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: room_type_reserved, dtype: int64

In [14]:
df.arrival_month.value_counts()

10    5317
9     4611
8     3813
6     3203
12    3021
11    2980
7     2920
4     2736
5     2598
3     2358
2     1704
1     1014
Name: arrival_month, dtype: int64

In [15]:
df.isna().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [16]:
df.arrival_month.value_counts().plot.barh()

In [17]:
df.room_type_reserved.value_counts().plot.barh()

In [18]:

df.no_of_adults.value_counts().plot.barh()

In [19]:
df.no_of_weekend_nights.plot.hist()

In [20]:
df.no_of_week_nights.plot.hist()

In [21]:
# Are there outliers
df.no_of_week_nights.plot.box()

In [22]:
df.no_of_weekend_nights.plot.box()

In [23]:
df.no_of_adults.plot.box()

Checking Relationships

In [24]:
df.no_of_adults.corr(df.no_of_weekend_nights)

0.10331577522391451

In [25]:
df.no_of_adults.corr(df.avg_price_per_room)

0.29688573606582175

In [26]:
df.no_of_children.corr(df.avg_price_per_room)

0.33772791390585866

In [27]:
df.plot.scatter(x='avg_price_per_room', y='no_of_adults', alpha=.2)

WARNING:matplotlib.axes._axes:*c* argument looks like a single numeric RGB or RGBA sequence, which should be avoided as value-mapping will have precedence in case its length matches with *x* & *y*.  Please use the *color* keyword-argument or provide a 2-D array with a single row if you intend to specify the same RGB or RGBA value for all points.

In [28]:
df.plot.hexbin(x='avg_price_per_room', y='no_of_adults', gridsize=20, cmap='viridis')

In [29]:
sns.relplot(x='no_of_children', y='avg_price_per_room', data=df)

In [30]:
sns.relplot(x='no_of_children', y='avg_price_per_room', data=df, hue='type_of_meal_plan')

In [31]:
sns.relplot(x='no_of_adults', y='avg_price_per_room', data=df, hue='type_of_meal_plan')

In [32]:
sns.jointplot(x='no_of_adults', y='avg_price_per_room', data=df)

In [33]:
sns.pairplot(df)

In [34]:
sns.heatmap(df.corr(), annot=True, cmap='RdBu', vmin=-1, vmax=1)

From the above heatmap we can observe the following correlations:

*   correlation between average price per room and number of adults
*   correlation between average price per room and number of number of children
*   correlation between average price per room and number of number of special requests
*   strong correlation between number of previous bookings not canceled and repeated guests
*   strong correlation between number of previous bookings not canceled and number of previous cancellations
*   Strong correlation between number of previous cancellations and repeated guests

In [35]:
df.market_segment_type.value_counts().plot.barh()

It can be seen that majority of the bookings are done online with offline coming in second position

In [36]:
df.booking_status.value_counts().plot(kind='bar')

Majority of the bookings are not cancelled.

Preparing the data to check for feature importance

Label encode the Target

In [37]:
df.booking_status= df.booking_status.replace({'Canceled':0, "Not_Canceled":1})

In [38]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,1
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,1
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,0
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,0
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,0

We will use **Ordinal encoding** to assign numerical values to categorical variables in a way that will preserve the ordinal relationships between the categories in **the type of meal plan column**

In [39]:
df['type_of_meal_plan'] = df['type_of_meal_plan'].map({'Meal Plan 1': 1, 'Meal Plan 2': 2, 'Meal Plan 3': 3, 'Not Selected': 0})

In [40]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,1
1,INN00002,2,0,2,3,0,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,1
2,INN00003,1,0,2,1,1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,0
3,INN00004,2,0,0,2,1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,0
4,INN00005,2,0,1,1,0,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,0

The difference in the number of reservations between the different room types is quite significant, and preserving the relative order of the categories may not add any additional information in this case. Hence one-hot encoding would be a good choice as it would allow you to capture the presence or absence of each category in the data, without assuming any ordinal relationships between the categories.

In [41]:
df = pd.get_dummies(df, columns=['room_type_reserved'])

In [42]:
df.dtypes

Booking_ID                               object
no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                         int64
required_car_parking_space                int64
lead_time                                 int64
arrival_year                              int64
arrival_month                             int64
arrival_date                              int64
market_segment_type                      object
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                            int64
room_type_reserved_Room_Type 1            uint8
room_type_reserved_Room_Type 2            uint8
room_type_reserved_Room_Type 3            uint8
room_type_reserved_Room_Type 4            uint8
room_type_reserved_Room_Type 5            uint8
room_type_reserved_Room_Type 6            uint8
room_type_reserved_Room_Type 7            uint8
dtype: object

In [43]:
df = pd.get_dummies(df, columns=['market_segment_type'])

In [44]:
df.dtypes

Booking_ID                               object
no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                         int64
required_car_parking_space                int64
lead_time                                 int64
arrival_year                              int64
arrival_month                             int64
arrival_date                              int64
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                            int64
room_type_reserved_Room_Type 1            uint8
room_type_reserved_Room_Type 2            uint8
room_type_reserved_Room_Type 3            uint8
room_type_reserved_Room_Type 4            uint8
room_type_reserved_Room_Type 5            uint8
room_type_reserved_Room_Type 6            uint8
room_type_reserved_Room_Type 7            uint8
market_segment_type_Aviation              uint8
market_segment_type_Complementary         uint8
market_segment_type_Corporate             uint8
market_segment_type_Offline               uint8
market_segment_type_Online                uint8
dtype: object

In [45]:
df = df.drop(columns=['Booking_ID'])

In [63]:
df_target = df['booking_status']

Check Feature importance using Random ForestClassifier

In [46]:
from sklearn.ensemble import RandomForestClassifier

def check_and_plot_features(df):
    X = df.drop('booking_status', axis=1)
    y = df['booking_status']
    
    model = RandomForestClassifier(n_estimators=100)
    model.fit(X, y)
    
    feature_importances = pd.DataFrame(model.feature_importances_, index=X.columns, columns=['importance'])
    feature_importances = feature_importances.sort_values('importance', ascending=True)
    
    plt.barh(feature_importances.index, feature_importances['importance'])
    plt.xlabel('Feature Importance')
    plt.ylabel('Feature')
    plt.title('Features sorted by importance')
    plt.show()

In [47]:
check_and_plot_features(df)

We can see that the fetaures that hold more importance are lead time all the way to room type reserved room type 6 but because we are using machine learning we will keep all the features

PCA

In [48]:
X = df.drop('booking_status', axis=1)
std = preprocessing.StandardScaler()
X_std = pd.DataFrame(std.fit_transform(X), columns=X.columns)
pca = decomposition.PCA()
pca_X = pd.DataFrame(pca.fit_transform(X_std), columns=[f'PC{i+1}' for i in range(len(X.columns))])

In [49]:
pca_X.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,...,PC18,PC19,PC20,PC21,PC22,PC23,PC24,PC25,PC26,PC27
0,2.373455,-1.806287,0.819896,-0.129857,1.511303,0.612754,-0.118070,-0.338988,0.184754,0.186938,...,-0.872461,-0.052118,-0.483012,0.904289,-0.899771,0.008328,-0.115979,0.495320,3.362996e-13,4.882085e-14
1,-0.853720,0.297638,-2.075558,0.409014,0.692545,0.769234,-0.030999,-0.755111,1.030985,0.709065,...,-0.937422,-0.864262,0.244897,-0.610282,0.631576,0.077793,-0.051194,-0.019704,-2.434434e-13,8.784426e-14
2,0.643738,0.550197,-1.464452,0.582135,-1.633847,-0.617911,1.104270,-0.223437,0.093582,-0.491196,...,0.242633,1.322928,0.819352,0.046489,-0.470935,-0.144334,0.058768,-0.675781,1.697317e-14,1.890943e-14
3,0.088886,-0.511507,-0.701452,0.156299,-1.015490,0.396349,-0.106738,0.642175,-0.615224,-0.062319,...,-0.024879,1.193821,-0.800941,0.273918,-0.498781,-0.078210,-0.065626,0.115854,8.610044e-15,-6.831283e-15
4,-0.179392,0.425613,-2.046208,0.563466,-1.097211,-0.333650,0.146205,0.476652,0.299778,0.103004,...,-1.021367,0.008528,-0.420007,0.057410,-0.355895,-0.043194,-0.121689,0.364955,2.531911e-14,4.463042e-14

In [50]:
pca.explained_variance_ratio_

array([1.23716339e-01, 8.80628561e-02, 6.96351659e-02, 6.19066919e-02,
       5.07973026e-02, 4.92212494e-02, 4.59816932e-02, 4.27346146e-02,
       3.90762189e-02, 3.82069650e-02, 3.72202349e-02, 3.70689100e-02,
       3.64610436e-02, 3.43399229e-02, 3.38666173e-02, 3.17563651e-02,
       2.94404593e-02, 2.85008609e-02, 2.48773489e-02, 2.30815139e-02,
       1.86925883e-02, 1.73317923e-02, 1.54733819e-02, 1.20221602e-02,
       1.05277043e-02, 1.82186409e-31, 1.64523391e-32])

In [51]:
# Components
# First component is .49 * Age + .21 * Edu + .09 * Exp ... etc
pca.components_[0]

array([-0.26079122, -0.21825387, -0.09628563, -0.09614179,  0.08575253,
       -0.03681934,  0.06791932, -0.14475601,  0.01064678, -0.02821177,
        0.17596613,  0.08951376,  0.13056313, -0.35732462, -0.24360734,
        0.36690376, -0.05635688,  0.00469693, -0.2913619 , -0.00241006,
       -0.20796516, -0.04713745,  0.01027244,  0.08482262,  0.18885975,
        0.32289003, -0.41496073])

In [52]:
(pd.DataFrame(pca.components_, columns=X.columns)
 .iloc[:2]
 .plot.bar()
 .legend(bbox_to_anchor=(1,1)))

In [53]:
(pd.DataFrame(pca.components_, columns=X.columns)
 .iloc[2:4]
 .plot.bar()
 .legend(bbox_to_anchor=(1,1)))

In [54]:
inerts = []
for i in range(2, 20):
    k = cluster.KMeans(n_clusters=i, random_state=42)
    k.fit(X_std)
    inerts.append(k.inertia_)

pd.Series(inerts).plot()

In [55]:
start, end = 4, 10
cols = 2
rows = ((end - start) // cols)
fix, axes = plt.subplots(rows, cols, figsize=(12,8))
axes = axes.reshape(cols * rows)
for i, k in enumerate(range(start, end), 0):
    ax = axes[i]
    sil = SilhouetteVisualizer(cluster.KMeans(n_clusters=k, random_state=42), ax=ax)
    sil.fit(X_std)
    sil.finalize()
plt.tight_layout()

In [56]:
# fig, ax = plt.subplots(figsize=(10,8))
# hierarchy.dendrogram(hierarchy.linkage(X_std, method='ward'), labels=X_std.index,
#                     truncate_mode='lastp', p=20, show_contracted=True)
# pass

# The code was too heavy crushed the machine

In [57]:
k9 = cluster.KMeans(n_clusters=9, random_state=42)
k9.fit(X_std)
labels = k9.predict(X_std)

In [58]:
X.assign(label=labels)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,...,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,label
0,2,0,1,2,1,0,224,2017,10,2,...,0,0,0,0,0,0,0,1,0,5
1,2,0,2,3,0,0,5,2018,11,6,...,0,0,0,0,0,0,0,0,1,8
2,1,0,2,1,1,0,1,2018,2,28,...,0,0,0,0,0,0,0,0,1,8
3,2,0,0,2,1,0,211,2018,5,20,...,0,0,0,0,0,0,0,0,1,8
4,2,0,1,1,0,0,48,2018,4,11,...,0,0,0,0,0,0,0,0,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,1,0,85,2018,8,3,...,1,0,0,0,0,0,0,0,1,4
36271,2,0,1,3,1,0,228,2018,10,17,...,0,0,0,0,0,0,0,0,1,8
36272,2,0,2,6,1,0,148,2018,7,1,...,0,0,0,0,0,0,0,0,1,8
36273,2,0,0,3,0,0,63,2018,4,21,...,0,0,0,0,0,0,0,0,1,8
36274,2,0,1,2,1,0,207,2018,12,30,...,0,0,0,0,0,0,0,1,0,5

In [59]:
(X.assign(label=labels)
  .groupby('label')
  .agg(['mean', 'var'])
  .T
)

label                                                0            1  \
no_of_adults                         mean     1.739623     1.579100
                                     var      0.435735     0.633632
no_of_children                       mean     0.132075     0.577649
                                     var      0.198399     0.808279
no_of_weekend_nights                 mean     0.758491     0.928882
                                     var      0.744483     0.763830
no_of_week_nights                    mean     2.196226     2.317852
                                     var      2.893168     1.882835
type_of_meal_plan                    mean     1.018868     0.989840
                                     var      0.086764     0.056583
required_car_parking_space           mean     0.022642     0.047896
                                     var      0.022213     0.045668
lead_time                            mean    59.547170   101.428157
                                     var   4981.703259  7282.739380
arrival_year                         mean  2017.924528  2017.788099
                                     var      0.070040     0.167242
arrival_month                        mean     7.498113     6.991292
                                     var      8.622156    12.334226
arrival_date                         mean    15.611321    16.503628
                                     var     86.579417    75.857908
repeated_guest                       mean     0.064151     0.007257
                                     var      0.060263     0.007215
no_of_previous_cancellations         mean     0.018868     0.000000
                                     var      0.041309     0.000000
no_of_previous_bookings_not_canceled mean     0.550943     0.024673
                                     var      9.915009     0.088053
avg_price_per_room                   mean   123.733623    88.025689
                                     var   2468.590891  1145.703876
no_of_special_requests               mean     0.335849     0.761974
                                     var      0.466324     0.681633
room_type_reserved_Room_Type 1       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 2       mean     0.000000     1.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 3       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 4       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 5       mean     1.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 6       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 7       mean     0.000000     0.000000
                                     var      0.000000     0.000000
market_segment_type_Aviation         mean     0.000000     0.000000
                                     var      0.000000     0.000000
market_segment_type_Complementary    mean     0.064151     0.027576
                                     var      0.060263     0.026855
market_segment_type_Corporate        mean     0.279245     0.001451
                                     var      0.202030     0.001451
market_segment_type_Offline          mean     0.305660     0.082729
                                     var      0.213036     0.075995
market_segment_type_Online           mean     0.350943     0.888244
                                     var      0.228645     0.099411

label                                                2            3  \
no_of_adults                         mean     1.999006     1.218404
                                     var      0.092536     0.184211
no_of_children                       mean     1.749503     0.009978
                                     var      0.615796     0.009889
no_of_weekend_nights                 mean     0.888668     0.453437
                                     var      0.869185     0.454544
no_of_week_nights                    mean     2.356859     1.328160
                                     var      2.394913     1.028707
type_of_meal_plan                    mean     1.041750     0.978936
                                     var      0.083827     0.047281
required_car_parking_space           mean     0.065606     0.152993
                                     var      0.061363     0.129730
lead_time                            mean    61.494036    13.159645
                                     var   4046.419367  1352.249735
arrival_year                         mean  2017.865805  2017.770510
                                     var      0.116302     0.177021
arrival_month                        mean     7.543738     7.423503
                                     var      7.912015    13.835984
arrival_date                         mean    16.557654    14.777162
                                     var     78.159359    72.610665
repeated_guest                       mean     0.001988     1.000000
                                     var      0.001986     0.000000
no_of_previous_cancellations         mean     0.000000     0.933481
                                     var      0.000000     4.599344
no_of_previous_bookings_not_canceled mean     0.001988     5.981153
                                     var      0.001986    85.945260
avg_price_per_room                   mean   186.081551    64.740809
                                     var   1426.891757   928.191672
no_of_special_requests               mean     0.916501     0.557650
                                     var      0.862673     0.610990
room_type_reserved_Room_Type 1       mean     0.000994     0.895787
                                     var      0.000994     0.093456
room_type_reserved_Room_Type 2       mean     0.000994     0.002217
                                     var      0.000994     0.002215
room_type_reserved_Room_Type 3       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 4       mean     0.000994     0.069845
                                     var      0.000994     0.065039
room_type_reserved_Room_Type 5       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 6       mean     0.948310     0.008869
                                     var      0.049067     0.008800
room_type_reserved_Room_Type 7       mean     0.048708     0.023282
                                     var      0.046381     0.022765
market_segment_type_Aviation         mean     0.000000     0.017738
                                     var      0.000000     0.017443
market_segment_type_Complementary    mean     0.002982     0.131929
                                     var      0.002976     0.114651
market_segment_type_Corporate        mean     0.002982     0.651885
                                     var      0.002976     0.227183
market_segment_type_Offline          mean     0.023857     0.098670
                                     var      0.023311     0.089033
market_segment_type_Online           mean     0.970179     0.099778
                                     var      0.028961     0.089922

label                                                4             5  \
no_of_adults                         mean     2.233460      1.760094
                                     var      0.332701      0.226624
no_of_children                       mean     0.038249      0.015192
                                     var      0.041618      0.016186
no_of_weekend_nights                 mean     0.955720      0.717272
                                     var      0.827782      0.674518
no_of_week_nights                    mean     2.571502      2.157015
                                     var      2.262162      1.246273
type_of_meal_plan                    mean     1.037905      1.217374
                                     var      0.048192      0.205013
required_car_parking_space           mean     0.036182      0.003059
                                     var      0.034879      0.003050
lead_time                            mean    70.929531    127.200245
                                     var   3582.937822  10661.662967
arrival_year                         mean  2017.929876   2017.728487
                                     var      0.065218      0.197814
arrival_month                        mean     7.292901      7.564437
                                     var      8.269527      8.873792
arrival_date                         mean    16.224673     15.325245
                                     var     79.618995     71.544863
repeated_guest                       mean     0.000689      0.000000
                                     var      0.000689      0.000000
no_of_previous_cancellations         mean     0.000000      0.000000
                                     var      0.000000      0.000000
no_of_previous_bookings_not_canceled mean     0.000861      0.000000
                                     var      0.001206      0.000000
avg_price_per_room                   mean   129.370519     91.187811
                                     var   1008.145980    572.798786
no_of_special_requests               mean     0.872846      0.186786
                                     var      0.737577      0.190660
room_type_reserved_Room_Type 1       mean     0.000345      0.985624
                                     var      0.000345      0.014171
room_type_reserved_Room_Type 2       mean     0.000000      0.000000
                                     var      0.000000      0.000000
room_type_reserved_Room_Type 3       mean     0.000000      0.000000
                                     var      0.000000      0.000000
room_type_reserved_Room_Type 4       mean     0.989318      0.014070
                                     var      0.010570      0.013874
room_type_reserved_Room_Type 5       mean     0.000000      0.000000
                                     var      0.000000      0.000000
room_type_reserved_Room_Type 6       mean     0.000000      0.000000
                                     var      0.000000      0.000000
room_type_reserved_Room_Type 7       mean     0.010338      0.000306
                                     var      0.010233      0.000306
market_segment_type_Aviation         mean     0.009132      0.000000
                                     var      0.009050      0.000000
market_segment_type_Complementary    mean     0.000000      0.000000
                                     var      0.000000      0.000000
market_segment_type_Corporate        mean     0.000345      0.000000
                                     var      0.000345      0.000000
market_segment_type_Offline          mean     0.081323      0.999388
                                     var      0.074723      0.000611
market_segment_type_Online           mean     0.909201      0.000612
                                     var      0.082569      0.000611

label                                                6            7  \
no_of_adults                         mean     1.326156     1.571429
                                     var      0.235127     0.285714
no_of_children                       mean     0.015833     0.000000
                                     var      0.025731     0.000000
no_of_weekend_nights                 mean     0.383154     0.571429
                                     var      0.477308     0.285714
no_of_week_nights                    mean     1.545282     2.000000
                                     var      1.259514     2.000000
type_of_meal_plan                    mean     0.998100     0.714286
                                     var      0.025979     0.238095
required_car_parking_space           mean     0.050032     0.000000
                                     var      0.047559     0.000000
lead_time                            mean    23.443952    69.571429
                                     var   1141.709626  4907.952381
arrival_year                         mean  2017.688410  2017.571429
                                     var      0.214637     0.285714
arrival_month                        mean     7.128562    10.142857
                                     var     12.251522     4.142857
arrival_date                         mean    15.911970    15.142857
                                     var     70.640535   131.476190
repeated_guest                       mean     0.000000     0.000000
                                     var      0.000000     0.000000
no_of_previous_cancellations         mean     0.000000     0.000000
                                     var      0.000000     0.000000
no_of_previous_bookings_not_canceled mean     0.000000     0.000000
                                     var      0.000000     0.000000
avg_price_per_room                   mean    73.842426    73.678571
                                     var   1348.544543  3107.639881
no_of_special_requests               mean     0.212160     0.142857
                                     var      0.255974     0.142857
room_type_reserved_Room_Type 1       mean     0.911336     0.000000
                                     var      0.080854     0.000000
room_type_reserved_Room_Type 2       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 3       mean     0.000000     1.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 4       mean     0.071564     0.000000
                                     var      0.066485     0.000000
room_type_reserved_Room_Type 5       mean     0.000000     0.000000
                                     var      0.000000     0.000000
room_type_reserved_Room_Type 6       mean     0.002533     0.000000
                                     var      0.002528     0.000000
room_type_reserved_Room_Type 7       mean     0.014566     0.000000
                                     var      0.014363     0.000000
market_segment_type_Aviation         mean     0.000000     0.000000
                                     var      0.000000     0.000000
market_segment_type_Complementary    mean     0.146295     0.285714
                                     var      0.124972     0.238095
market_segment_type_Corporate        mean     0.853705     0.142857
                                     var      0.124972     0.142857
market_segment_type_Offline          mean     0.000000     0.285714
                                     var      0.000000     0.238095
market_segment_type_Online           mean     0.000000     0.285714
                                     var      0.000000     0.238095

label                                                8
no_of_adults                         mean     1.846192
                                     var      0.161737
no_of_children                       mean     0.075301
                                     var      0.073335
no_of_weekend_nights                 mean     0.867962
                                     var      0.779345
no_of_week_nights                    mean     2.200308
                                     var      2.297484
type_of_meal_plan                    mean     0.742029
                                     var      0.270131
required_car_parking_space           mean     0.034659
                                     var      0.033460
lead_time                            mean    76.204379
                                     var   6021.761730
arrival_year                         mean  2017.849460
                                     var      0.127885
arrival_month                        mean     7.422572
                                     var      9.601365
arrival_date                         mean    15.453469
                                     var     78.365280
repeated_guest                       mean     0.000000
                                     var      0.000000
no_of_previous_cancellations         mean     0.000000
                                     var      0.000000
no_of_previous_bookings_not_canceled mean     0.000000
                                     var      0.000000
avg_price_per_room                   mean   101.776506
                                     var    742.251704
no_of_special_requests               mean     0.814369
                                     var      0.656424
room_type_reserved_Room_Type 1       mean     0.999877
                                     var      0.000123
room_type_reserved_Room_Type 2       mean     0.000000
                                     var      0.000000
room_type_reserved_Room_Type 3       mean     0.000000
                                     var      0.000000
room_type_reserved_Room_Type 4       mean     0.000000
                                     var      0.000000
room_type_reserved_Room_Type 5       mean     0.000000
                                     var      0.000000
room_type_reserved_Room_Type 6       mean     0.000000
                                     var      0.000000
room_type_reserved_Room_Type 7       mean     0.000123
                                     var      0.000123
market_segment_type_Aviation         mean     0.003454
                                     var      0.003442
market_segment_type_Complementary    mean     0.000000
                                     var      0.000000
market_segment_type_Corporate        mean     0.000000
                                     var      0.000000
market_segment_type_Offline          mean     0.000062
                                     var      0.000062
market_segment_type_Online           mean     0.996485
                                     var      0.003503

In [60]:
(X.assign(label=labels)
  .groupby('label')
  .mean()
  .T
 .style.background_gradient(cmap='RdBu', axis=1)
)

We start by looking for a baseline model

Concate the scaled data frame with the target column

In [66]:
df_Final = pd.concat([X_std, df_target], axis=1)

In [75]:
def compare_ml_algorithms(df_Final):
    X = df_Final.drop(columns='booking_status')
    y = df['booking_status']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    
    models = [LogisticRegression(), KNeighborsClassifier(), 
              DecisionTreeClassifier(), SVC(), GaussianNB(), RandomForestClassifier(), GradientBoostingClassifier(), XGBClassifier()]
    model_names = ['Logistic Regression', 'K-Nearest Neighbors', 'Decision Tree', 'Support Vector Machine', 'Naive Bayes','RandomForestClassifier','GradientBoostingClassifier','XGBClassifier']

    results = {}
    for model, name in zip(models, model_names):
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        results[name] = accuracy
        
    best_model = max(results, key=results.get)
    print("Accuracy scores of all models:")
    for name, score in results.items():
        print(f"{name}: {score}")
    print(f"\nBest Model: {best_model} with accuracy {results[best_model]}")

In [76]:
compare_ml_algorithms(df_Final)

Accuracy scores of all models:
Logistic Regression: 0.8097863542384562
K-Nearest Neighbors: 0.8540317022742936
Decision Tree: 0.8691936595451413
Support Vector Machine: 0.8445210199862164
Naive Bayes: 0.3955892487939352
RandomForestClassifier: 0.9050310130944177
GradientBoostingClassifier: 0.8566505858028945
XGBClassifier: 0.8540317022742936

Best Model: RandomForestClassifier with accuracy 0.9050310130944177

Best performing models are:


1.   RandomForest Classifier 
2.   Decision Tree
3.   GradientBoosting Classifier
4.   XGBClassifier
5.   K-Nearest Neighbors


We will try to see if I can improve the accuracy

Bagging ensemble

In [91]:

X = df_Final.drop(columns='booking_status')
y = df['booking_status']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the five models
model1 = RandomForestClassifier()
model2 = DecisionTreeClassifier()
model3 = GradientBoostingClassifier()
model4 = XGBClassifier()
model5 = KNeighborsClassifier()

# Fit the models on the training data
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)
model4.fit(X_train, y_train)
model5.fit(X_train, y_train)

# Compute the accuracy of each model on the training data
accuracy1 = accuracy_score(y_train, model1.predict(X_train))
accuracy2 = accuracy_score(y_train, model2.predict(X_train))
accuracy3 = accuracy_score(y_train, model3.predict(X_train))
accuracy4 = accuracy_score(y_train, model4.predict(X_train))
accuracy5 = accuracy_score(y_train, model5.predict(X_train))

# Compute the weights for each model based on their accuracy
weights = np.array([accuracy1, accuracy2, accuracy3, accuracy4, accuracy5])
weights = weights / np.sum(weights)

# Make predictions on the test data with each model
predictions1 = model1.predict(X_test)
predictions2 = model2.predict(X_test)
predictions3 = model3.predict(X_test)
predictions4 = model4.predict(X_test)
predictions5 = model5.predict(X_test)

# Aggregate the weighted predictions to get the final prediction for the bagging ensemble
final_prediction = np.round(weights[0] * predictions1 + weights[1] * predictions2 +
                           weights[2] * predictions3 + weights[3] * predictions4 +
                           weights[4] * predictions5)

# Compute the accuracy of the bagging ensemble on the test data
final_accuracy = accuracy_score(y_test, final_prediction)

In [92]:
final_accuracy

0.8893177119228118

The bagging ensemble somehow made the model to perform abit worse than when using just one model

Next step will be to try to train some hyperparameters for one or two of the best models to see if it will improve the score

In [94]:
X = df_Final.drop(columns='booking_status')
y = df['booking_status']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [10, 20, 30, 40, 50],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 3, 4, 5],
    'min_samples_leaf': [1, 2, 3, 4, 5]
}

# Create the Random Forest Classifier
clf = RandomForestClassifier()

# Use GridSearchCV to perform hyperparameter tuning
grid_search = GridSearchCV(clf, param_grid, cv=5)
grid_search.fit(X, y)

# Print the best hyperparameters
print("Best hyperparameters: ", grid_search.best_params_)

Best hyperparameters:  {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 3, 'n_estimators': 40}

In [96]:
X = df_Final.drop(columns='booking_status')
y = df['booking_status']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create the Random Forest Classifier with the best hyperparameters
clf = RandomForestClassifier(
    max_depth=None,
    min_samples_leaf=1,
    min_samples_split=3,
    n_estimators=40
)

# Fit the classifier on the training data
clf.fit(X_train, y_train)

# Use the fitted classifier to predict the target values
y_pred = clf.predict(X_test)

# Compute the accuracy of the model on the training data
correct_predictions = sum(y_pred == y_test)
accuracy = correct_predictions / len(y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.8993797381116472